<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Khata Book - create</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
  <body>
    <header>
      <nav>
        <h2 class="logo">Khatabook</h2>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/create">Create New Hisab</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h1>Create New Hisab</h1>
      <form action="/create/new" method="post">
        <input type="text" placeholder="Shopping hisab, ghar ka karch..." name="title">
        <textarea name="data" placeholder="Daal, Atta, Cheeni..."></textarea>
        <input type="submit">
      </form>
    </main>
  </body>
</html>
